.search-container{
    border: 2px solid #DFDFDF;
    border-radius: 5px;
    padding-right: 0 50px;
    display: flex;
    justify-content: space-around;
} 

input[type=search]{
    width: 100%;
    height: 50px;
    border: none;
    padding: 0 15px;
    font-size: 14px;
} 

input[type=search]:focus{
    border: none !important;
}

#btn-search{
    border: 0;
    background: inherit;
    cursor: pointer;
    padding-right: 20px;
}

#btn-search img{
    width: 14px;
}