* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", Sans-Serif;
}

body{
    background-color: rgb(158, 158, 158);
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

a{
    text-decoration: none;
    color: #000;
}


/*** Boot css ***/
/*flex*/

.flex-1{flex: 1;}

.flex-2{flex: 2;}

.flex-3{flex: 3;}

.flex-4{flex: 4;}

.flex-5{flex: 5;}

.flex-6{flex: 6;}

.d-flex{display: flex;}

.align-center{align-items: center;}

.justify-flex-end{justify-content: flex-end;}
/*************/

.center{
    margin: 0 auto;
    max-width: 1280px;
    padding: 0 2%;
}

.w-60{
width: 60%;
}

.w-50{
    width: 50%;
}

.w-33{
    width: 33.33%;
}

.w-20{
    width: 20%;
}

.w-10{
    width: 10%;
}

.left{
    float: left;
}

.right{
    float: right;
}

.clear{
    clear: both;
}

/* font-style*/
.fs-11{
    font-size: 11px;
}

.fs-12{
    font-size: 12px;
}

.bold{
    font-weight: 600;
}

.mid{
    font-weight: 600;
}
/*-------------------*/


/* main */
header{
    height: 130px;
    background: #fff;
}

.main-header{
    display: flex;
    align-items: center;
    padding-top: 17px;
}

.mobile-nav{
    display: none;
}











