* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", Sans-Serif;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

img{
    max-width: 1000px;
}


/* Boot css */
.center{
    margin: 0 auto;
    max-width: 1280px;
    padding: 0 2%;
}

.w-60{
    width: 60%;
}

.w-50{
    width: 50%;
}

.w-33{
    width: 33.33%;
}

.w-20{
    width: 20%;
}

.w-10{
    width: 10%;
}

.left{
    float: left;
}

.right{
    float: right;
}

.clear{
    clear: both;
}

/* font-size */

.fs-11{
    font-size: 11px;
}

.fs-12{
    font-size: 12px;
}

.bold{
    font-weight: 600;
}


/*-------------------*/

/* top-header */
span{
    display: inline-flex;
    align-items: center;
    margin-right: 60px;
}

section.top-header{
    height: 35px;
    background: #f1f1f1;
}

.top-header span img{
    margin-right: 5px;
    width: 16px;
}

.top-header > .center{
    padding-top: 8px;
}

ul.menu-top-header{
    display: flex;
    align-items: center;
}

ul.menu-top-header li{
    list-style-type: none;
    margin-left: 60px;
}

a{
    text-decoration: none;
    color: #000;
}

/* main-header */

.main-header{
    display: flex;
    align-items: center;
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}

.search-container{
    border: 2px solid #DFDFDF;
    border-radius: 5px;
    padding-right: 0 50px;
    display: flex;
    justify-content: space-around;
} 

input[type=search]{
    width: 500px;
    height: 50px;
    border: none;
    padding: 0 5px;
    font-size: 14px;
} 

input[type=search]:focus{
    border: none !important;
}

#btn-search{
    border: 0;
    background: inherit;
    cursor: pointer;
}

#btn-search img{
    width: 14px;
}

.entrar{
    margin-right: 5px;
}

.dropdown{
    cursor: pointer;
}


