* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", Sans-Serif;
}

body{
    background-color: rgb(158, 158, 158);
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

img{
    max-width: 1000px;
}


/* Boot css */
.d-flex{
    display: flex;
}

.align-center{
    align-items: center;
}

.justify-flex-end{
    justify-content: flex-end;
}

.center{
    margin: 0 auto;
    max-width: 1280px;
    padding: 0 2%;
}

.w-60{
    width: 60%;
}

.w-50{
    width: 50%;
}

.w-33{
    width: 33.33%;
}

.w-20{
    width: 20%;
}

.w-10{
    width: 10%;
}

.left{
    float: left;
}

.right{
    float: right;
}

.clear{
    clear: both;
}

/* font-size */

.fs-11{
    font-size: 11px;
}

.fs-12{
    font-size: 12px;
}

.bold{
    font-weight: 600;
}

.mid{
    font-weight: 600;
}


/*-------------------*/

header{
    height: 130px;
    background: #fff;
}



/* top-header */
span{
    display: inline-flex;
    align-items: center;
    margin-right: 60px;
}

section.top-header{
    height: 35px;
    background: #f1f1f1;
}

.top-header{
   padding-bottom: 40px;
}

.top-header span img{
    margin-right: 5px;
    width: 16px;
}

.top-header > .center{
    padding-top: 8px;
}

.top-header .center{
    display: flex;
    align-items: center;
}


ul.menu-top-header{
    display: flex;
    width: 100%;
}

ul.menu-top-header li{
    list-style-type: none;
    margin-left: 60px;
}

a{
    text-decoration: none;
    color: #000;
}

/* main-header */

.main-header{
    display: flex;
    align-items: center;
    margin-top: 17px;
}

.search-container{
    border: 2px solid #DFDFDF;
    border-radius: 5px;
    padding-right: 0 50px;
    display: flex;
    justify-content: space-around;
} 

input[type=search]{
    width: 500px;
    height: 50px;
    border: none;
    padding: 0 5px;
    font-size: 14px;
} 

input[type=search]:focus{
    border: none !important;
}

#btn-search{
    border: 0;
    background: inherit;
    cursor: pointer;
    padding-right: 10px;
}

#btn-search img{
    width: 14px;
}

.entrar{
    margin-right: 5px;
}

.header-span img{
    margin-top: 4px;
}

.dropdown{
    cursor: pointer;
    position: relative;
}

.dropdown span{
    position: relative;
}

ul#dropdown-menu{
    display: none;
    list-style-type: none;
    font-weight: 600;
    width: 174px;
    height: 154px;
    padding-top: 18px;
    background: #fff;
    box-shadow: 0px 0px 6px #00000033;
    position: absolute;
    margin-top: 30px;
    margin-left: -110px;
    text-align: center;
    border-radius: 5px;
}

ul#dropdown-menu li{
    margin-top: 15px;
}

ul#dropdown-menu li:nth-child(1){
    font-weight: bold;
}



ul#dropdown-menu{
    font-size: 15px;
}

.basket-circle{
    top: 13.5%;
    right: 1%;
    position: absolute;
    width: 26px;
    height: 26px;
    background: black;
    border-radius: 100%;
    color: white;
    font-size: 11px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.basket-circle p{
    margin-right: 2px;
    margin-bottom: 1px;
    top: 50%;
    left: 50%;
}



@media screen and (max-width: 1200px){
    ul.menu-top-header li{
        margin-left: 30px;
    }
}

@media screen and (max-width: 768px){
    header .top-header{
        display: none;
    }
}




